/* Centralização da div principal */
.estiloLogin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  padding: 2rem;
  border-radius: 0.75rem;
  width: 100%;
  max-width: 380px;
  text-align: center;
  position: relative;
}

/* Estilos básicos do form */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.inputs {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.buttons {
  font-weight: 600;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.themeToggle {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
}
