.containerDashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 24px;
}

.mainGrid {
  width: 100%;
  max-width: 1200px;
}



@media (max-width: 768px) {

.containerDashboard {
  padding: 16px;
}

}