#logoSistema {
  width: 240px;
  padding: 10px 0px 10px 30px;
}

.header {
  display: flex;
  top: 0;
  z-index: 1000;
  background-image: linear-gradient(00.25turn, #f3f4f600, #3b70abad);
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
  color: whitesmoke;
}
