#logoSistema {
  max-width: 110px;
  padding: 10px;
}

.header {
  position: sticky;
  display: flex;
  top: 0;
  z-index: 1000; /* Garante que o header fique acima de outros elementos */
  background-image: linear-gradient(00.25turn, #f3f4f6, #3b70ab);
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
  justify-content: space-around;
  color: whitesmoke;
}

.listItem {
  list-style: none;
  margin: 0 15px;
  font-size: 18px;
  padding: 10px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerButton {
  background-color: #f3f4f6;
  color: #111827;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  transition: transform 0.15s ease, box-shadow 0.15s ease,
    background-color 0.15s ease;
}

.headerButton:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.headerButton:active {
  transform: scale(0.95);
}
