.estiloCollaborator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.collaboratorContainer {
  width: 90vw;
  max-width: 1100px;
  height: auto;
  min-height: 60vh;
  background-color: var(--bg-paper);

  padding: 2.5rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h1 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .collaboratorContainer {
    width: 100%;
    padding: 2rem 1.5rem;
  }

  .h1 {
    font-size: 1.5rem;
  }
}
